body {
    font-family: Arial, sans-serif;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 10px;
}
input[type="text"],
input[type="number"],
input[type="checkbox"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {

    background-color: #304463;
    color: #FFC7ED;
    border: 1px solid #2F3645;
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    font-weight: 800;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #7D8ABC;
    color: white;
}
.btn-group{
    margin-bottom: 20px;

}
.btn-group label{
    background-color: #304463;
    color: #FFC7ED;
    border: 1px solid #2F3645;
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    font-weight: 800;
    font-size: 16px;
}
.btn-group label:hover{
    background-color: #7D8ABC;
    color: white;
}
label{
    color: #304463;
    font-size: 18px;
    font-weight: 700;
}
.btn-group p{
    color: #304463;
    font-size: 18px;
    font-weight: 700;
}

.link{
    text-decoration: none;
    background-color: #304463;
    color: #FFC7ED;
    border: 1px solid #2F3645;
    padding: 10px 12px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    font-weight: 800;
    font-size: 20px;
    margin-top: 20px;
}
.link:hover{
    background-color: #7D8ABC;
    color: white;
}

#category_id{
    padding: 8px;
    margin-bottom: 10px;
}